<!DOCTYPE html>
<html>
<head>
	<title>Movie Search App</title>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	
	<style type="text/css">
	body {
		padding: 0;
		margin: 0;
		background-image: url("https://www.nyfa.edu/film-school-blog/wp-content/uploads/2015/01/THEATERF1ONRF-00006562-0011.jpg");
	}

	.mine {
		padding-top: 5%;
	}
		

	.mainmine {
		text-align: center;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);


	}
	
	h4{
		color: white;
	}
	
	.btn-primary {
		background-color: transparent;
		
	}
	
	.btn:hover {
		background-color: transparent;
	}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>


<% if (message && message.length > 0){ %>
<div class="container mine">
	<p class="alert alert-warning"> <%= message %> </p>
</div>
<% } %>

<div class="mainmine" >
    
<h4>Search for a word in the title of a movie</h4>


<form action="/results" method="GET">
	
    <input class="form-control"  type="text" placeholder="search" name="search">
    <br>
    <input class="btn btn-primary btn-lg" type="submit">
</form>


</div>

</body>
</html>
